data/loan_ml.pkl
data/accepted_2007_to_2018Q4.csv
data/accepted_pickle.pkl
data
code/__pycache__
code/trash/colab_training.py
code/trash/devices_test.py
figs/10_without_10.png
figs/20_without_10.png
figs/30_without_10.png
figs/loan_status_dirty.png
figs/stringaddr_state_hist.png
figs/stringapplication_type_hist.png
figs/stringdebt_settlement_flag_date_hist.png
figs/stringdebt_settlement_flag_hist.png
figs/stringdisbursement_method_hist.png
figs/stringearliest_cr_line_hist.png
figs/stringemp_length_hist.png
figs/stringgrade_hist.png
figs/stringhardship_end_date_hist.png
figs/stringhardship_flag_hist.png
figs/stringhardship_loan_status_hist.png
figs/stringhardship_reason_hist.png
figs/stringhardship_start_date_hist.png
figs/stringhardship_status_hist.png
figs/stringhardship_type_hist.png
figs/stringhome_ownership_hist.png
figs/stringinitial_list_status_hist.png
figs/stringissue_d_hist.png
figs/stringlast_credit_pull_d_hist.png
figs/stringlast_pymnt_d_hist.png
figs/stringloan_status_hist.png
figs/stringnext_pymnt_d_hist.png
figs/stringpayment_plan_start_date_hist.png
figs/stringpurpose_hist.png
figs/stringpymnt_plan_hist.png
figs/stringsec_app_earliest_cr_line_hist.png
figs/stringsettlement_date_hist.png
figs/stringsettlement_status_hist.png
figs/stringsub_grade_hist.png
figs/stringterm_hist.png
figs/stringverification_status_hist.png
figs/stringverification_status_joint_hist.png
figs/stringzip_code_hist.png
figs/unsuccesful_learning_individual_nonlog.png
figs/unsuccesful_learning_individual.png
